#glyphs {
    padding: 0;
}

.glyph-block {
    display: block;
    width: 100vw;
    font-family: "Natural";
    position: relative;
}

.glyph-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2px;
    padding: 2px;
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
}

.glyph-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem; 
    font-weight: bold;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: var(--border-radious-default);
    transition: all 0.3s ease;
}

.glyph-grid div:hover {
    color: var(--background-hilight);
}

.glyph-grid .highlight {
    background-color: var(--background-dark);
    color: var(--background-white);

}

.glyph-grid div:active {
    background-color: var(--background-dark);
}


.highlight-part {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    height: 30%;
    max-height: 30vh; 
    padding: 62px 12px;
}

.glyph-highlight {
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-hilight);
    backdrop-filter: blur(10px);
    font-size: 10rem;
    position: sticky;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    text-align: center;
    border-radius: 24px;
    padding: 0;
    border: none;
    outline: none;
}

/* PANTALLAS DE MAS DE 768 */


@media (min-width: 768px) {
    .glyph-block {
        display: flex;
    }

    .glyph-grid {
        width: 60%;
    }

    .highlight-part {

        width: 60%; 
        height: 100%;
        min-height: calc(100vh - 60px);
    }

    .glyph-grid div {
        font-size: 4rem;
    }

    .glyph-highlight {
        height: 100%; 
        min-height: calc(100vh - 76px);
        font-size: 20rem;
        top: 0;
    }
}
