/* 

    HEADER 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--nivel-6);
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    background-color: var(--background-alternative); 
    padding: 10px 16px 10px 12px;
    border-radius: var(--border-radious-default); 
    backdrop-filter: blur(10px);
}

.logo svg {
    margin-right: 4px;
}

.logo-animation {
    font-family: "Natural", sans-serif;
    font-size: 20px; 
    color: var(--text);
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: drawPath 4s linear infinite alternate; 
}

@keyframes drawPath {
    from {
      stroke-dashoffset: 300; 
    }
    to {
      stroke-dashoffset: 0;
    }
  }

/* LINKS */

.nav-links {
    display: flex;
    gap: 4px;
    padding: 6px 8px;
    border-radius: var(--border-radious-default); 
    background-color: var(--background-alternative); 
    backdrop-filter: blur(10px);
    align-items: center;
    transition: width 0.3s ease, padding 0.3s ease;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 0;
    margin: 0; 
    padding: 0; 
}



.nav-links a {
    text-decoration: none;
    color: var(--text);
    padding: 8px 12px;
    border-radius: var(--border-radious-default, 8px);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--background-alternative);
}

.nav-links a.active {
    font-weight: medium;
    box-shadow: inset 0 0 0 1px var(--text-active); 
    color: var(--text-color-active, #000); 
}

/* Responsive Section Name */
.section-name {
    display: none;
    font-size: 16px;
    color: black;
    margin-right: 8px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.section-name.active {
    opacity: 1; 
    transform: translateY(0);
}


/* Persistent Active State */
.nav-links a[aria-current="page"] {
    background-color: var(--background-dark);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* BUTTON */
button {
    background-color: var(--background-dark);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--background-darkness); 
    color: var(--background-hilight);
    ;}


/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links ul {
        display: none; 
    }

    nav {
        padding: 8px 12px;
    }

    .section-name {
        display: inline-block; 
        padding-left: 8px;
        opacity: 0; 
        transform: translateY(10px); 
        transition: opacity 0.3s ease, transform 0.3s ease; 
    }
    .section-name.active {
        opacity: 1;
        transform: translateY(0); 
    }
    .nav-links {
        justify-content: flex-end; 
        gap: 0;
        transition: opacity 0.3s ease, transform 0.3s ease; 
        padding-left: 8px;
    }

}