/* SECCIÓN 01 - INPUT */

.section-input {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height:100vh ;
    box-sizing: border-box;
}

#styled-text {
    font-family: "Natural", sans-serif;
    width: 100%;
    white-space: pre-wrap; 
    word-wrap: break-word;
    text-align: center;
    line-height: 1.2;
    color: black;
    font-size: 120px; 
    position: relative; 
    border: 2px solid transparent;
}

#styled-text:not(:empty)::before {
    content: '';
}

/* CONTROLES */

.controls {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 8px;
    padding-bottom: 14px;
    z-index: var(--nivel-5);
}

.controls .control-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.controls #user-input {
    width: 99%;
    height: 40px;
    font-size: 16px;
    padding: 0 16px;
    border: none;
    border-radius: var(--border-radious-default);
    outline: none;
    box-sizing: border-box;

}

#user-input::selection {
    background: var(--background-hilight);
}

#user-input:-webkit-autofill {
    background-color: transparent !important; /* Forzar transparencia */
    backdrop-filter: blur(15px); /* Aplicar el desenfoque */
    box-shadow: 0 0 0px 1000px rgba(129, 129, 129, 0.287) inset; /* Fondo personalizado */
    color: var(--text); /* Asegúrate de definir el color del texto */
    border: 1px solid var(--border-color); /* Mantén un borde visible */
    transition: all 0.5s ease; /* Transición para suavizar cambios */
}




/* RANGE OF TYPOGRAPY */
/* RANGO - Base */
.controls input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, var(--border-color-active) 0%, var(--border-color-active) 50%, #c5c5c5 50%, #c5c5c5 100%);
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

/* TRACK (Base para Webkit y Firefox) */
.controls input[type="range"]::-webkit-slider-runnable-track,
.controls input[type="range"]::-moz-range-track {
    background: inherit;
    border: none;
    border-radius: 4px;
}

/* Thumb del rango (Webkit) */
.controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--text);
    border-radius: 50%;
    border: solid 1 black;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.controls input[type="range"]::-moz-range-thumb,
.controls input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--text);
    border-radius: 50%;
    border: solid 1 black;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

/* TRACK (Edge/IE específico) */
.controls input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    height: 4px;
}

/* RELLENO (Edge/IE específico) */
.controls input[type="range"]::-ms-fill-lower {
    background: var(--border-color-active);
    border-radius: 4px;
}

.controls input[type="range"]::-ms-fill-upper {
    background: #c5c5c5;
    border-radius: 4px;
}

.font {
    width: 100%;
}

.font, .color {
    padding: 8px 12px;
}


.input-color {
    width: 8px;
    height: 8px;
    border: 2px solid black; 
    border-radius: 50%; 
    background-color: #000; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    
}

.input-color input[type="color"] {
    opacity: 0; 
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Etiquetas generales */
.controls label {
    font-size: 14px;
    color: var(--text-active);
}

/* Inputs genéricos */
.control {
    display: flex; 
    
    justify-content: center; 
    align-items: center; 
    margin-left: 10px;
    cursor: pointer;
    gap: 8px;
    background: var(--background-alternative); 
    backdrop-filter: blur(15px); 
    border-radius: var(--border-radious-default);
   
}

/* Estilo base del switch */

.custom-switch {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 0; 
}


.switch-btn {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: var(--border-radious-default);
    background: transparent;
    color: var(--text);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Botón activo */
.switch-btn.active {
    background-color: var(--background-dark);
    color: #fff;
    border-color: var(--border-color-active);
}

/* Botón inactivo */
.switch-btn:not(.active):hover {
    background-color: var(--background-alternative);
    color: var(--text-active);
}
