:root {
    --background-white: white;
    --background-main-light: #f3f3f3;
    --background-alternative: #d8d8d878;
    --background-active: rgba(212, 212, 212, 0.576);
    --background-dark:#2b2b2b;
    --background-darkness:#010101;
    --background-hilight:#cbe104dc;
    --border-radious-default: 999px; 
    --text:#484848;
    --text-active:#1c1c1c;
    --border-color-active: #999999;

    --nivel-1:-1000;
    --nivel-2: 0;
    --nivel-3: 1000;
    --nivel-4: 2000;
    --nivel-5: 3000;
    --nivel-6: 4000;
}